body {
  font-family: arial, arial, helvetica, san-serif; }
  body p {
    font-size: 1.2em; }
  body h1 {
    color: #ff0000; }
  body .wrapper {
    width: 50%;
    margin: 0 auto;
    background-color: #ccc;
    padding: 32px; }

.floatingGoat {
  float: left;
  margin: 0 10px 10px 0; }
