body {
  font-family: arial, arial, helvetica, san-serif;
  	p {
	  font-size: 1.2em;
	}
  h1 {
	color: #ff0000;
  }
  .wrapper {
	width: 50%;
	margin: 0 auto;
	background-color: #ccc;
	padding: 32px;
  }
}
.floatingGoat {
  float: left;
  margin: 0 10px 10px 0;
}
